<div class="container-fluid">

    <div class="row d-flex align-items-center">

        <div class="col-md-6">
            <div class="row d-flex justify-content-center">

                <div class="col-md-6">

                    <h1 class="text-center">Entrar</h1>

                    <form>
                        <div class="form-group">
                            <label for="">Usuário</label>
                            <input type="email" class="form-control" name="email" id="email" />
                        </div>

                        <div class="form-group">
                            <label for="">Senha:</label>
                            <input type="password" class="form-control" name="senha" id="senha" />
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-outline-success w-25">Entrar</button>
                        </div>
                    </form>
                    <hr />

                    <p class="text-center">
                        Ainda não tem uma conta? <a routerLink="/cadastrar">Cadastre-se</a>
                    </p>

                </div>
            </div>
        </div>

        <div class="col-md-6" id="img-bg"></div>
    </div>
</div>